@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(255, 247, 138);
  --primary-color-darker: rgb(235, 228, 130);
}

body {
  padding: 0;
  background: rgb(253, 253, 238);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  width: 80%;
  margin: 0 auto;
}

form input,
form label,
form button {
  display: block;
  width: 30%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.navbar,
.footer {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 80%;
}

.navbar {
  top: 0;
}

.footer {
  bottom: 0;
}

.navbar a,
.footer a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar a:focus {
  background: var(--primary-color-darker);
  color: black;
}

.footer a:hover {
  color: var(--primary-color);
}

.main {
  margin: 80px 20px;
  align-content: center;
}

.w3-container {
  outline: coral solid 2px;
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 5px 5px;
}

#main_title {
  text-align: center;
}
