@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
  --page-width: 65%;
}

body {
  padding: 0;
  background: rgb(253, 253, 238);
  background-image: url(../img/fundo.jpg);
  background-attachment: scroll;
  background-clip: padding-box;

  font-family: 'Open sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  width: var(--page-width);
  height: 80%;
  margin: 0 auto;
}

#title-page {
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  font-size: 40px;
  color: white;
  display: block;
  padding: 15px 0px 0px 28px;
}

#pink-floyd-h1 {
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  color: white;
  padding-left: 28px;
}

/* #region NAV and FOOTER */
.navbar {
  top: 0;
  display: flex;
  list-style: none;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: var(--page-width);
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.navbar ul a {
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}

.navbar ul a:hover {
  border-radius: 25px;
  background: #ddd;
  color: black;
}

.footer {
  display: flex;
  bottom: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: var(--page-width);
}

.footer a {
  /* float: right; */
  /* display: block; */
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}

.footer a:hover {
  color: rgb(255, 247, 138);
}
/* #endregion */

/* #region MAIN and TEXT*/
#intro-section {
  text-align: center;
}

main {
  margin: 100px 20px 80px 20px;
  align-content: center;
  text-align: justify;
  /* box-shadow: 10px 5px 5px black; */
  outline: black solid 2px;
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 25px 25px;
}

.main_title {
  text-align: center;
}
/* #endregion */

/* #region FORM*/
form input,
form label {
  display: block;
  width: 30%;
  margin-bottom: 10px;
}

form input {
  border-radius: 15px;
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  outline: transparent;
}

form textarea {
  font-size: 24px;
  border-radius: 15px;
}

form input:focus,
textarea:focus {
  outline: 1px solid rgb(240, 238, 219);
}

form input:hover,
textarea:hover {
  background: rgb(240, 238, 219);
}
/* #endregion */

/* #region DISCOS E INTEGRANTES */
.integrantes,
.discos {
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  float: left;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
}

.integrantes:hover,
.discos:hover {
  box-shadow: 0 0 1px 1px rgb(235, 228, 130);
}

.integrantes:active,
.discos:active {
  -webkit-transform: scale(2);
  transform: scale(1.5);
}

.listas {
  margin: 25px 25px;
  padding: 0px 0px;
  list-style-type: circle;
}

.listas a {
  text-transform: uppercase;
  font-size: 17px;
  color: #333;
  display: block;
  padding: 14px 16px;
}

.table a:hover,
.listas a:hover {
  border-radius: 25px;
  background: #ddd;
  color: black;
}

.table {
  text-align: center;
  margin: 10px;
  border: 1px solid black;
  border-spacing: 15px;
  padding: 10px;
}

.table a {
  color: #333;
  display: block;
  padding: 10px 8px;
}

tbody tr:hover {
  background: unset;
}

#albuns,
#lista_integrantes {
  display: inline-flex;
}

#discography {
  padding-left: 60px;
  align-self: flex-start;
}
/* #endregion */

/* #region OUTROS */
.certain_images {
  max-width: 100%;
  height: auto;
}

tr:hover {
  background-color: #f5f5f5;
}

.youtube {
  text-align: center;
}

#discografia-back,
#integrantes-back {
  margin-left: 95%;
  height: 5%;
  width: 5%;
}

#discografia-back:hover,
#integrantes-back:hover {
  border-radius: 120%;
  transition: 0.75s ease;
  background-color: #008cba;
}

#contato {
  margin-top: 50px;
  font-size: 20px;
}

#concert {
  text-align: center;
  border: 20px red;
}
/* #endregion */
