@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --page-width: 65%;
}

body {
  padding: 0;
  background: rgb(253, 253, 238);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  width: var(--page-width);
  height: 90%;
  margin: 0 auto;
}

form input,
form label,
form button {
  display: block;
  width: 30%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid rgb(255, 247, 138);
}

form button {
  border: none;
  background: rgb(255, 247, 138);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: rgb(235, 228, 130);
}

.navbar,
.footer {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: var(--page-width);
}

.navbar {
  top: 0;
}

.footer {
  bottom: 0;
}

.navbar a,
.footer a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar a:focus {
  background: rgb(235, 228, 130);
  color: black;
}

.footer a:hover {
  color: rgb(255, 247, 138);
}

.main {
  margin: 80px 20px;
  align-content: center;
}

.w3-container {
  box-shadow: 10px 5px 5px black;
  outline: black solid 2px;
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 25px 25px;
}

.main_title {
  text-align: center;
}

.integrantes {
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  float: left;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
}

.integrantes:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.integrantes:active {
  -webkit-transform: scale(2);
  transform: scale(1.5);
}

.listas {
  margin: 25px 25px;
  list-style-type: circle;
}

.table {
  margin: 10px;
  border: 1px solid black;
  border-spacing: 15px;
  padding: 10px;
}

tr:hover {
  background-color: #f5f5f5;
}

.youtube {
  text-align: center;
}

#albuns {
  display: inline-flex;
}

#discography {
  padding-left: 100px;
  align-self: flex-start;
}
